@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/*GENERAL CSS OF NAVBAR*/
        * {
            padding: 0;
            margin: 0;
        }

        nav {
            background-color: rgba(7, 5, 10, 255);
            width: 100%;
            height: 80px;
            border-bottom: 1px solid rgb(138, 57, 138);
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        ul li a {
            color: white;
            line-height: 60px;
            padding: 12px 30px;
            font-size: 14px;
            text-decoration: none;
            border-radius: 2px;
            margin-right: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: medium;
            margin-right: 20px
        }

        nav ul li a:hover {
            background-color: blueviolet;
        }

        .life {
            font-family: 'VALORANT', sans-serif;
            color: white;
            font-size:50px;
            text-align: center;
            top:25%;
            right:50%;
        }

        .logo-font {
            font-family: 'VALORANT', sans-serif;
            padding-bottom: 15px;
            text-align: center;
            font-size: 40px;
            text-decoration: none;
            color: azure;
            display: flex;
            align-items: center;
            height: 100%; /* Added height property */
        }

        .logo-font img {
            margin-right: 10px; /* Added margin to separate the logo from the text */
             /* Added height property to match the height of the navbar */
        }

        .logo-font span {
            display: flex;
            align-items: center;
            padding-top: 20px;
            height: 100%; /* Added height property to match the height of the navbar */
        }

/*CSS FOR AGENTS*/
        body {
            min-height: 100vh;
            width: 100%;
            position: relative;
            overflow-x: hidden;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }

        .background-image {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/valooo.png);
            background-position: center;
            background-size: cover;
            position: relative;
        }
        .background-image2 {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/Valorant-Maps.jpg);
            border-bottom: 5px solid white;

            background-position: center;
            background-size: cover;
            position: relative;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }

        .content h1 {
            font-size: 70px;
            font-family: 'VALORANT', sans-serif;
        }

        .content p {
            margin: 10px 0px 40px;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
        }

        .content2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;

        }

        .content2 h1 {
            font-size: 70px;
            font-family: 'VALORANT', sans-serif;
        }

        .content2 p {
            margin: 10px 0px 40px;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
        }

        .initiators {
            background-color: black;
            padding: 50px;
            color: white;
            padding-top: 40px;
        }
        
        .initiators h2 {
            font-size: 50px;
            color: red;
            font-family: 'VALORANT', sans-serif;
            text-align: center;
            padding-bottom:10px;
        }
        
        div.initiators p {
            text-align: center;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            padding: 10px;
            padding-top: 10px;
            padding-bottom:10px;
            margin: 0px;
        }
        .Controllers {
            background-color: aliceblue;
            padding: 50px;
            color: black;
            padding-top: 40px;
        }
        
        .Controllers h2 {
            font-size: 50px;
            color: red;
            font-family: 'VALORANT', sans-serif;
            text-align: center;
            padding-bottom:10px;
        }
        
        div.Controllers p {
            text-align: center;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            padding: 10px;
            padding-top: 10px;
            padding-bottom:10px;
            margin: 0px;
        }

        .Duelists {
            background-color: black;
            padding: 50px;
            color: white;
            padding-top: 40px;
        }
        
        .Duelists h2 {
            font-size: 50px;
            color: red;
            font-family: 'VALORANT', sans-serif;
            text-align: center;
            padding-bottom:10px;
        }
        
        div.Duelists p {
            text-align: center;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            padding: 10px;
            padding-top: 10px;
            padding-bottom:10px;
            margin: 0px;
        }
        .sentinels {
            background-color: white;
            padding: 50px;
            color: black;
            padding-top: 40px;
        }
        
        .sentinels h2 {
            font-size: 50px;
            color: red;
            font-family: 'VALORANT', sans-serif;
            text-align: center;
            padding-bottom:10px;
        }
        
        div.sentinels p {
            text-align: center;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            padding: 10px;
            padding-top: 10px;
            padding-bottom:10px;
            margin: 0px;
        }


        .gallery {
            width: 1000px;
            display: flex;
            overflow-x: scroll;
        }
        .gallery2 {
            width: 800px;
            display: flex;
            overflow-x: scroll;
        }
        .gallery div{
            width:100%;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            flex:none;
            font-family:'VALORANT', sans-serif;
            text-align: center;
            transition: transform 0.5s ;

        }
        .gallery2 div{
            width:100%;
            display:grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
            flex:none;
            font-family:'VALORANT', sans-serif;
            text-align: center;
            transition: transform 0.5s ;

        }


        .gallery div img {
            filter: grayscale(100%);
            transition: transform 0.5s ;
            margin-bottom: 15px;
            
        }
        .gallery2 div img {
            filter: grayscale(100%);
            transition: transform 0.5s ;
            margin-bottom: 15px;
            
        }
        
        .gallery-item span {
            font-family: 'VALORANT', sans-serif;
            text-align: center;
            padding-top: 10px;
            height: 100%;
            font-size: 16px; /* Adjust the font size as needed */
          }
        
          .gallery2-item span {
            font-family: 'VALORANT', sans-serif;
            text-align: center;
            padding-top: 10px;
            height: 100%;
            font-size: 16px; /* Adjust the font size as needed */
          }
        

        .gallery::-webkit-scrollbar{
            display: none;
        }
        
        .gallery2::-webkit-scrollbar{
            display: none;
        }
        
        .gallerywrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px auto;
        }
        

        #backBtn, #nextBtn{
            cursor:pointer;
            margin: 30px;
        }
        .gallery div img:hover{
            filter: grayscale(0);
            cursor:pointer;
            transform: scale(1.08)
        }
        .gallery2 div img:hover{
            filter: grayscale(0);
            cursor:pointer;
            transform: scale(1.08)
        }


        /*CSS FOR INDEX*/
        .hero {
            position: relative;
            overflow: hidden;
            height: 90vh;
          }
          
          .videobg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            filter: brightness(0.6) contrast(1.2) saturate(1.2);
          }
          
          .hero-text {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            height: 100vh;
            font-size: 30px;
            padding-left:10px;
            margin-bottom: 100px;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.01rem;
            }

          .cnts {
            position: absolute;
            z-index: 3;
            top: 66%;
            left: 52.3%;
            transform: translate(-66%, -52.3%);
          }
          
          .primarybutton {
            cursor: pointer;
            font-family: 'Ropa Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.04rem;
            border: 1px solid #26194D;
            padding: 25px 80px;
            color: black;
            transition: color 0.4s linear, background 0.4s linear, box-shadow 0.4s linear;
            position: relative;
          }
          
          .primarybutton:hover {
            position: relative;
            background: transparent;
            letter-spacing: 0.09rem;
            box-shadow: 0 0 35px var(--clr);
            color: white; /* Set the text color to white */
            transition: color 0.4s linear, background 0.4s linear, box-shadow 0.4s linear;
          }
          .primarybutton:before {
            content: '';
            position: absolute;
            inset: 2px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: violet;
            z-index: -1;
          }
/* CSS for Maps*/
          .row{
            width:85%;
            min-height: 85vh;
            margin: auto;
            display: flex;
            flex-wrap: wrap ;
          }
          
          .col{
            margin: 20px 0;
            flex-basis: 50%;
            min-width: 400px;
            height:100%;
            position: relative;
            
          }

          .breeze{
            
            background-color: #20bf55;
            background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
            z-index: -1;
            border-bottom: 3px solid black;

            
          }

          .breeze h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .breeze h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }
          .breeze h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .gallery-box{
            position: relative;
            margin: 30px;
            padding-top:75px;
          }

          .gallery-box img{            
            width:100%;
            border: 10px solid rgba(255,255,255 , 0.5);
          }

          .gallery-box ul{
            position: absolute;
            right:-100px;
            top:50%;
            transform: translateY(-50%);
          }

          .gallery-box ul li{
            list-style-type: none;
            font-size: 20px;
            font-weight: 300;
            padding: 0 30px;
            margin-bottom: 30px;
            cursor: pointer;
            position: relative;
            font-family: 'Roboto', sans-serif;

          }

          .gallery-box ul li:hover{
            color: white;
          }


          
          .split{
            
            background-color: #772f1a;
            background-image: linear-gradient(45deg, #772f1a 0%, #f2a65a 74%);
            border-bottom: 3px solid black;
            z-index: -1;
          }

          .split h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .split h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }
          .split h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .ascent{
            
            background-color: #861657;
            background-image: linear-gradient(45deg, #861657 0%, #ffa69e 74%);
            border-bottom: 3px solid black;

            z-index: -1;
            
          }

          .ascent h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .ascent h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }
          .ascent h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }


          .haven{
            
            background-color: #ff7878;
            background-image: linear-gradient(45deg, #ff7878 20%, #74d680 74%);
            border-bottom: 3px solid black;

            z-index: -1;
            
          }

          .haven h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .haven h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }
          .haven h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .lotus{
            
            background-color: #eec0c6;
            background-image: linear-gradient(45deg, #d789b5 30%, #7ee8fa 74%);

            border-bottom: 3px solid black;

            z-index: -1;
            
          }

          .lotus h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .lotus h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }

          .lotus h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:#26194D;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .pearl{
            
            background-color: #abe9cd;
            background-image: linear-gradient(45deg, #abe9cd 0%, #3eadcf 74%);


            border-bottom: 3px solid black;

            z-index: -1;
            
          }

          .pearl h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .pearl h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }

          .pearl h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:#26194D;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .bind{
            
            background-color: #dfa375;
            background-image: linear-gradient(315deg, #dfa375 0%, #c58e7f 74%);
            border-bottom: 3px solid black;
             z-index: -1;
            
          }

          .bind h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .bind h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }

          .bind h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:#26194D;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .fracture{
            
            background-color: #f2cf43;
            background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
            border-bottom: 3px solid black;
             z-index: -1;
            
          }

          .fracture h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .fracture h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }

          .fracture h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:#26194D;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

          .icebox{
            
            background-color: #70a1ff;
            background-image: linear-gradient(45deg, #70a1ff 0%, #c2c0c0 74%);
            border-bottom: 3px solid black;
             z-index: -1;
            
          }

          .icebox h1{
            z-index: 1;
            font-size: 50px;
            font-family: 'VALORANT', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:50px;
            
          }

          .icebox h5{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: black;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
          }

          .icebox h3{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color:#26194D;
            font-weight: 300;
            padding: 5px;
            line-height: 30px;
            padding-left: 50px;
            padding-top: 40px;
          }

        /* CSS FOR GAMEPLAY */
        
       
        .container {
          margin-top: 200px;
          margin-left:100px;
          position: relative;
          text-align: center;
          color: white;
        }
        
        .container h1 {
          font-size: 70px;
          font-family: 'VALORANT', sans-serif;
          color: red;
        }
        
        .container h5 {
          margin: 10px 0px 40px;
          font-size: 15px;
          font-family: 'Roboto', sans-serif;
          color: white ;
        }
        
        .video-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;
          margin: 100px;
          
        }
        

    .video-item img {
        width: 100%;
        height: auto;
    }

    
      
      
      
      
      
      
   